<div class='text-center lead'>
  <span id="opponent_name"></span>'s proposals
</div>

<hr/>

<table class="table">
  <thead>
  <tr>
    <th>#</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
  </tr>
  </thead>

  <tbody id="opponent">
    <tr>
      <td>
        #
      </td>
      <td id="first"></td>
      <td id="second"></td>
      <td id="third"></td>
    </tr>
  </tbody>

</table>

<hr/>
<div class="text-center">
  <button class="btn btn-success btn-large" type="submit">
    Accept
  </button>

</div>

<hr/>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="first"></label>
    <div class="controls">
      <input type="text" id="first" class="input-mini">%
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="second"></label>
    <div class="controls">
      <input type="text" id="second" class="input-mini">%
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="thrid"></label>
    <div class="controls">
      <input type="text" id="third" class="input-mini">%
    </div>
  </div>


  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success btn-large">Submit</button>
    </div>
  </div>
</form>

<p class="text-center lead">Your proposal to <span id="opponent_name"></span></p>






