<span id="opponent_name"></span>'s proposals

<table class="pure-table">
  <thead>
  <tr>
    <th>#</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
  </tr>
  </thead>

  <tbody id="opponent">
    <tr>
      <td>
        #
      </td>
      <td id="first"></td>
      <td id="second"></td>
      <td id="third"></td>
    </tr>
  </tbody>

</table>

<button class=".pure-button-small pure-button-success" type="submit">
  Accept
</button>


<form class="pure-form pure-form-aligned">
  <fieldset>

    <div class="pure-control-group">
      <label for="first"></label>
      <input id="first" type="text">
    </div>


    <div class="pure-control-group">
      <label for="second"></label>
      <input id="second" type="text">
    </div>


    <div class="pure-control-group">
      <label for="third"></label>
      <input id="third" type="text" placeholder="Enter something here...">
    </div>

    <div class="pure-controls">

      <button type="submit" class="pure-button">Submit</button>
      
    </div>
  </fieldset>
</form>
<p>Your proposal for <span id="opponent_name"></span></p>






