<div class="pure-g">
  <div id="left_opponent" class="pure-u-11-24">
    <%= render 'opponent' %>
  </div>

  <div id="right_opponent" class="pure-u-11-24">
    <%= render 'opponent' %>
  </div>
</div>


