<div class="row-fluid">

    <div id="left_opponent" class="span6">
      <%= render 'opponent' %>
    </div>

    <div id="right_opponent" class="span6">
      <%= render 'opponent' %>
    </div>
</div>

<%= javascript_include_tag "game" %>
