<div class="row-fluid">
  <div class="text-center">
    <h1>Game Rules</h1>
    <h3>1) Fill in some game rules</h3>
    <%= link_to 'Start Game', game_url , { :class=>"btn btn-large btn-primary btn-success" } %>
  </div>

</div>

