<div class="row-fluid offset4">
    <h1>Game Rules</h1>    
</div>

<div class="row-fluid offset4">
  <ol>
      <li class="lead">Each group has three people.</li>
      <li class="lead">You can submit your own proposal to others.</li>
      <li class="lead">You can accept or reject other's proposal.</li>
      <li class="lead">Proposals can only be seen between two people.</li>
  </ol>    
</div>

<div class="row-fluid offset4">
  <a href=<%= game_url%> class="btn btn-large btn-primary btn-success">Start Game</a>
</div>
